<nav>
   <div class='nav-wrapper'>
      <a href='#' class='brand-logo'>Tech Blog</a>
      <ul id='nav-mobile' class='right hide-on-med-and-down'>
         {{#if logged_in}}
            <li><a href='/posts'>My Blog</a></li>
            <li><a href='/add'>Add Post</a></li>
            <li><a href='/logout'>Logout</a></li>
         {{else}}
            <li><a href='/login'>Login</a></li>
         {{/if}}
      </ul>
   </div>
</nav>
<div class='container'>
   {{#each posts as |post|}}
      <div class='col s12 m6'>
         <div class='card blue-grey darken-1'>
            <div class='card-content white-text'>
               <span class='card-title'>{{post.title}}</span>
               <p>{{post.body}}</p>
               <p>By {{post.user.name}}</p>
            </div>
         </div>
      </div>
   {{/each}}
</div>