<nav>
   <div class='nav-wrapper'>
      <a href='#' class='brand-logo'>Tech Blog</a>
      <ul id='nav-mobile' class='right hide-on-med-and-down'>
         <li><a href='/'>Home</a></li>
         <li><a href='/dashboard'>Dashboard</a></li>
      </ul>
   </div>
</nav>

<div class='container'>
   <div class='row'>
      <form class='col s12' action='/api/users/login' method='post'>
         <div class='row'>
            <div class='input-field col s12'>
               <input id='email' type='email' class='validate' name='email' />
               <label for='email'>Email</label>
            </div>
         </div>
         <div class='row'>
            <div class='input-field col s12'>
               <input id='password' type='password' class='validate' name='password' />
               <label for='password'>Password</label>
            </div>
         </div>
         <button class='btn waves-effect waves-light' type='submit'>Login</button>
         <a class='waves-effect waves-light btn' href='/signup'>Sign up</a>
      </form>
   </div>
</div>