<nav>
   <div class='nav-wrapper' style='background-color: #676E95'>
      <a href='/' class='brand-logo'>Tech Blog</a>
      <ul id='nav-mobile' class='right hide-on-med-and-down'>
         <li><a href='/'>Home</a></li>
         <li><a href='/dashboard'>Dashboard</a></li>
      </ul>
   </div>
</nav>
<div class='container'>
   <div class='row'>
      <form class='col s12' action='/users' method='post'>
         <div class='row'>
            <div class='input-field col s6'>
               <input name='first_name' id='first_name' type='text' class='validate' />
               <label for='first_name'>First Name</label>
            </div>
            <div class='input-field col s6'>
               <input id='last_name' name='last_name' type='text' class='validate' />
               <label for='last_name'>Last Name</label>
            </div>
         </div>
         <div class='row'>
            <div class='input-field col s12'>
               <input id='username' name='username' type='text' class='validate' />
               <label for='username'>Username</label>
            </div>
         </div>
         <div class='row'>
            <div class='input-field col s12'>
               <input id='password' name='password' type='password' class='validate' />
               <label for='password'>Password</label>
            </div>
         </div>
         <div class='row'>
            <div class='input-field col s12'>
               <input id='email' name='email' type='email' class='validate' />
               <label for='email'>Email</label>
            </div>
         </div>
         <button class='btn waves-effect waves-light' style='background-color: #676E95' type='submit'>Sign up</button>
      </form>
   </div>
</div>